<h1>Log In</h1>
   <%= form_with url: login_path do |form|  %>
     <div class="field">
       <%= form.label :email %><br />
       <%= form.text_field :email %>
     </div>
     <div class="field">
       <%= form.label :password %><br />
       <%= form.password_field :password %>
     </div>
     <div class="actions"><%= form.submit "Log In" %></div>
   <% end %>
